body {
  padding: 0px;
  margin: 0px; }

h1, h2, h3, h4, h5, p {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  display: block;
  position: relative;
  z-index: 1;
  clear: both; }

header, article, section, aside, footer, div {
  display: block;
  position: relative;
  z-index: auto; }

ul, li {
  padding: 0px;
  margin: 0px; }

ul {
  padding-left: 25px;
  margin-bottom: 15px; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

form input {
  outline: 0 !important;
  -webkit-appearance: none; }

form input[type='submit'] {
  outline: 0px !important; }

img {
  border: 0;
  max-width: 100%; }

textarea, input {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none; }

button {
  outline: 0;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer; }

body {
  font-family: arial;
  background: #ccc;
  padding: 30px;
  font-size: 14px; }

h1 {
  text-align: center; }

.load-more {
  padding: 30px;
  text-align: center;
  cursor: pointer; }

@media screen and (max-width: 360px) {
  body {
    padding: 10px; } }
